@font-face {
    font-family: "Bank Gothic";
    src: url(BankGothic.ttf);
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    background-color: #E6E9E9;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0 auto;
    padding: 2em 2em 4em;
    max-width: 800px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.9em;
    line-height: 1.5em;
    color: #545454;
    background-color: #FFFFFF;
}

a {
    color: #0083E8;
    text-decoration: none;
}

h1 {
    font-size: 8vw;
    letter-spacing: 0.6em;
    color: #222;
}

h2 {
    letter-spacing: 0.2em;
    margin-top: 0.5em;
    color: #222;
}

h3 {
    font-size: 4vw;
    letter-spacing: 0.1em; 
    color: #0093F8;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    text-align: center;
    font-family: "Bank Gothic", sans-serif;
    font-weight: 600;
    line-height: 1.3em;
}

#hexMenuContainer {
    text-align: center;
	position: relative;
	width: 100%;
    max-height: 220px;
	padding-bottom: 28%; 
	vertical-align: middle; 
	overflow: hidden; 
}

#hexMenu { 
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
    width: 100%;
}

#columnsContainer {
    display: block;
    width: 100%;
    position: relative;
    margin: none;
}

#screens {
    vertical-align: top;
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 2%;
}

.screenshot {
    max-width: 70vw;
    height: auto;
    border: 3px solid #888888;
    border-radius: 5px;
}

#content {
    padding: 2%;
    vertical-align: top;
    display: inline-block;
    width: 100%;
}

@media screen and (min-width: 47.5em ) {
    #columnsContainer {
        width: 100%;
        display: table;
        table-layout: fixed;
    }
    
    .content {
        display: table-cell;
        width: auto;
    }
 
    #screens {
        display: table-cell;
        width: 42%;
    }
    
    .screenshot {
        max-width: 95%;
    }
    
    h1 {
        font-size: 2.6em;
    }
    
    h3 {
        font-size: 1.5em;
        letter-spacing: 0.3em;
    }
}

#footer {
    text-align: center;
    display: block;
    width: 100%;
    padding: 1% 2%;
    margin: none;
    background-color: #D8E8EC;
}

#blurb {
    display: block;
    font-size: 0.8em;
    text-align: left;
    display: inline-block;
    max-width: 100%;
    font-style: italic;
}

footer > ul {
    width: 100%;
    display: inline-block;
    max-width: 100%;
}

footer > ul > li {
    display: inline;
    padding: 0px 10px;
}

polygon {
    stroke: #888888;
    stroke-width: 3;
    stroke-linejoin: round;
}

polygon:hover {
    stroke: #000000;
    stroke-width: 3;  
}